@import url("/styles/msg-style.css");

main { margin: auto; width: 50vw; }

#chat-title {
	width: fit-content;
	margin: 2rem auto 4rem auto;
	font-size: 3rem;
	font-weight: 800;
	color: var(--hi-fnt-color);
}

#chat-box {
	display:flex;
	flex-direction: column;

	gap: 30px;
	height: 45vh;
	padding: 30px;

	border: 1px solid rgba(222,255,255,.1);
	border-radius: 8px 8px 4px 4px;

	overflow-y: auto;
}

#msg-form {
	display:flex;
	gap: 16px;
	
	margin-top: 1rem;
	padding: 16px;

	border: 1px solid rgba(222, 255, 255, .1);
	border-radius: 4px 4px 8px 8px;
} 

#input-btn {
	border: 1px solid var(--hi-fnt-color);
	border-radius: 8px;
	padding: 16px 28px;
	font-size: 1rem;
	color: var(--hi-fnt-color);

	background-color: transparent;
	transition: .3s;
}

#input-btn:hover {
		cursor: pointer;
	color: var(--bkg-color);
	background-color: var(--hi-fnt-color);
	border-radius: 16px;
}

#username-form {
	width: max-content;
	padding: 6px;
	margin-bottom: 1rem;
}

#username-form > label {
	color: grey;
	font-size: .8rem;
}

#username-form > input,#input-msg {
	background-color: transparent;
	color: white;
	font-size: 1rem;
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--hi-fnt-color);
}
