.msg {
	border: 1px solid transparent;

	color: var(--fnt-color);

	padding: 8px 12px 10px 8px;
	width: fit-content;
	max-width: 70%;
}

.msg.right {
	border-color: var(--hi-fnt-color);

	align-self: end;
	border-radius: 3px 12px 3px 3px;
}

.msg.left {
	border-color: grey;
	align-self: start;
	border-radius: 12px 3px 3px 3px;
}

.msg > h3 { 
	color: grey;
	margin: 0 0 2px 0;
	padding: 4px;
	font-size: .85rem; 
}

.msg > p { padding: 0 0 2px 4px; }
